version: "2"
services:
  rabbitmq:
    image: rabbitmq:3.6.1-management
    hostname: "rmq"
    ports:
      - "15672:15672"
      - "5672:5672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
      - RABBITMQ_DEFAULT_VHOST=aiorabbit
